:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-white: #FFFFFF;
  --primary-grey: #A3AED0;
  --secondary-grey:#F6F8FD;
  --primary-blue: #0092BD;
  --primary-black: #000000;
  --primary-text-color:#2B3674;
  --green:#A4D0A3;
  --red:#D0A3A3;
  --yellow:#FFB547;
  --grey100:#D9D9D9;
  --grey-line: #a3aed09a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
*/} 

/* Ajoutez vos styles globaux personnalisés ici */
/* Ajoutez vos styles spécifiques à Layout ici */

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  /* height: 100vh; */
  background-color: var(--primary-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  color: var(--primary-grey);
  font-size: 16px;
}

.logo {
  margin-bottom: 50px;
}

.nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-bottom: 20px;
}

.nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.nav .icon,
.logout .icon {
  margin-right: 10px;
}

.logout {
  margin-bottom: 20px;
}

.logout a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-grey);
  font-size: 16px;
}

.main {
  width: 80%;
  flex-grow: 1;
  padding: 40px;
  background-color: var(--secondary-grey);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.title h5 {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-grey);
  margin: 0;
}

.title h2 {
  font-size: 34px;
  font-weight: bold;
  color: #2B3674;
  margin-top: 0;
}

.searchBar {
  width: 200px;
  background-color: var(--primary-white);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 2px;
}

.searchInput {
  flex-grow: 1;
  border: none;
  padding: 8px;
}

.searchIcon {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.searchIcon img {
  width: 16px;
  height: 16px;
}


.content {
  padding: 10px;
}