.home{
  background: var(--primary-white);
  border-radius: 10px;
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card_pair {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  width: 45%;
  height: 30vh;
  background-color: var(--grey100);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
